#total{
    text-align: left;
    padding-left: 30px;
}

#menu{
    text-align: left;
    padding-left: 30px;
}

.container{
    border-bottom: 1px solid #000000;
    min-height: 10%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.material-icons{
    vertical-align: text-bottom;
    cursor: pointer;
}

.titulo{
    margin-left:10px;
    font-size: 24px;
    font-weight: bold;
}