#sidebar{
    text-align: left;
    padding-left: 30px; 
    margin-top:25px;
}

#formulario{
    text-align: left;
    padding-left: 30px;
    border-left: 1px solid #000000;
    
}

.noticias{
    margin-top: 20px;
}

.material-icons{
    vertical-align: text-bottom;
    cursor: pointer;
}

.titulo{
    margin:25px 0 15px 0;
    font-size: 24px;
    font-weight: bold;
}

#obtener{
    margin-left:15px;
    cursor: pointer;
}

.fecha{
    font-size: 12px;
}

.container{
    min-height: 90%;
}

.vacio{
    font-size: 30px;
    text-align: center;
    padding-top:10%;
}